// fonts
$font-Manrope: "Manrope", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-Onest: "Onest", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-blue: #4060FF;
$color-black: #000000;
// colors
