// training
.training {
  .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40rem;

    @include media('md') {
      grid-template-columns: repeat(1,1fr);
      gap: 24rem;
    }
  }

  &_imgs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20rem;

    @include media('xs') {
      grid-template-columns: repeat(1,1fr);
      gap: 16rem;
    }
  }

  &_img {
    border-radius: 24rem;
    overflow: hidden;
    height: 485rem;
    position: relative;

    @include media('md') {
      border-radius: 16rem;
      height: 370rem;
    }

    @include media('xs') {
      height: 255rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1rem;
      border-radius: 24rem;
      background: linear-gradient(
        138.86deg,
        #FFFFFF 0.53%,
        rgba(119, 119, 119, 0.2) 99.47%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;

      @include media('md') {
        border-radius: 16rem;
      }
    }

    &:last-child {
      grid-column: span 2;
      height: 255rem;

      @include media('xs') {
        grid-column: span 1;
      }

      img {
        object-position: top;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media('xs') {
        object-position: top;
      }
    }
  }

  &_text {
    .sec-title {
      text-transform: uppercase;
      margin-bottom: 24rem;
    }

    p {
      font-family: $font-Inter;
      font-weight: 200;
      font-size: 32rem;
      letter-spacing: -0.06em;
      color: $color-white;

      @include media('md') {
        font-size: 16rem;
      }
    }

    h3 {
      font-family: $font-Inter;
      font-weight: 500;
      font-size: 36rem;
      letter-spacing: -0.06em;
      color: $color-white;
      margin: 60rem 0 24rem 0;

      @include media('md') {
        font-size: 24rem;
        margin: 24rem 0;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16rem;
      margin-bottom: 60rem;

      @include media('md') {
        margin-bottom: 24rem;
      }

      li {
        font-family: $font-Inter;
        font-weight: 200;
        font-size: 24rem;
        line-height: 150%;
        letter-spacing: -0.06em;
        color: $color-white;

        @include media('md') {
          font-size: 16rem;
          line-height: 120%;
        }
      }
    }
  }
}
// training
